<div id="sidebar" class="nav-collapse ">
    <ul class="sidebar-menu" id="nav-accordion">
        <li class="sub-menu dcjq-parent-li">
            <a href="javascript:;" class="active  dcjq-parent">
                <i class="icon-laptop"></i>
                <span>Editor</span>
                <span class="dcjq-icon"></span>
            </a>
            <ul class="sub" style="display: block;">
                <li><a href="@Url.Action("Index", "Category")">Danh mục cẩm nang</a></li>
                <li><a href="@Url.Action("Index", "Post")">Tin tức</a></li>
                <li><a href="@Url.Action("Index", "Banner")">Banner</a></li>
                <li><a href="@Url.Action("Index", "Server")">Server</a></li>
            </ul>
        </li>
        <li class="sub-menu dcjq-parent-li">
            <a href="javascript:;" class="active  dcjq-parent">
                <i class="icon-laptop"></i>
                <span>Thống kê</span>
                <span class="dcjq-icon"></span>
            </a>
            <ul class="sub" style="display: block;">
                <li><a href="@Url.Action("CCU", "Statistic")">CCU</a></li>
                <li><a href="@Url.Action("Report", "Statistic")">Tổng quát</a></li>
                <li><a href="@Url.Action("ReportPid", "Statistic")">Marketing</a></li>
                <li><a href="@Url.Action("PaymentHistory", "Statistic")">Nạp tiền theo username</a></li>
                <li><a href="@Url.Action("PaymentHistoryByTransId", "Statistic")">Nạp tiền theo TransId</a></li>
                <li><a href="@Url.Action("ReportPaymentWeb", "Statistic")">Tra cứu chuyển tiền (Web)</a></li>
                <li><a href="@Url.Action("ReportPaymentGame", "Statistic")">Tra cứu chuyển tiền (Game)</a></li>
                <li><a href="@Url.Action("CREV", "Statistic")">Doanh thu</a></li>
                @*<li><a href="@Url.Action("NRU", "Statistic")">NRU</a></li>
                <li><a href="@Url.Action("NAU", "Statistic")">NAU</a></li>
                <li><a href="@Url.Action("PU", "Statistic")">PU</a></li>
                <li><a href="@Url.Action("PayRate", "Statistic")">Pay Rate</a></li>
                <li><a href="@Url.Action("A30", "Statistic")">A30</a></li>
                <li><a href="@Url.Action("Revenue", "Statistic")">Revenue</a></li>*@
            </ul>
        </li>
        <li class="sub-menu dcjq-parent-li">
            <a href="javascript:;" class="active  dcjq-parent">
                <i class="icon-laptop"></i>
                <span>GM Tool</span>
                <span class="dcjq-icon"></span>
            </a>
            <ul class="sub" style="display: block;">
                <li><a href="@Url.Action("RoleList", "Game")">Thông tin user</a></li>
                <li><a href="@Url.Action("CharDetail", "Game")">Kiểm tra dữ liệu nhân vật</a></li>
                <li><a href="@Url.Action("OnlineNumber", "Game")">Số người online</a></li>
                <li><a href="@Url.Action("SendMail", "Game")">Gửi thư</a></li>
                <li><a href="@Url.Action("SendNotice", "Game")">Gửi thông báo</a></li>
                <li><a href="@Url.Action("AddExp", "Game")">Thêm kinh nghiệm</a></li>
                <li><a href="@Url.Action("LockAccount", "Game")">Khóa tài khoản</a></li>
                <li><a href="@Url.Action("DeleteItem", "Game")">Xóa vật phẩm</a></li>
                <li><a href="@Url.Action("JumpMap", "Game")">Nhảy map</a></li>
                <li><a href="@Url.Action("BanChat", "Game")">Cấm chat</a></li>
                <li><a href="@Url.Action("KickOffline", "Game")">Kick user</a></li>

                
                @*<li><a href="@Url.Action("QueryItem", "Game")">Kiểm tra vật phẩm nhân vật</a></li>
                <li><a href="@Url.Action("GetMapPosition", "Game")">Kiểm tra tọa độ</a></li>
                <li><a href="@Url.Action("ModifyMall", "Game")">Điều chỉnh giá item</a></li>
                <li><a href="@Url.Action("QueryServerConfig", "Game")">Danh sách thiết lập server</a></li>
                <li><a href="@Url.Action("SendNotice", "Game")">Gửi thông báo</a></li>*@

            </ul>
        </li>
        <li class="sub-menu dcjq-parent-li">
            <a href="javascript:;" class="active  dcjq-parent">
                <i class="icon-laptop"></i>
                <span>Payment</span>
                <span class="dcjq-icon"></span>
            </a>
            <ul class="sub" style="display: block;">
                <li><a href="@Url.Action("Index", "Payment")">Chuyển tiền tích lũy</a></li>
                <li><a href="@Url.Action("Index", "Currency")">Quản lý mệnh giá</a></li>
            </ul>
        </li>
        <li class="sub-menu dcjq-parent-li">
            <a href="javascript:;" class="active  dcjq-parent">
                <i class="icon-laptop"></i>
                <span>Marketing Tool</span>
                <span class="dcjq-icon"></span>
            </a>
            <ul class="sub" style="display: block;">
                <li><a href="@Url.Action("Index", "Marketing")">Quản lý PID</a></li>
            </ul>
        </li>
    </ul>
</div>
