@using System.Collections;
@using Web.BackEnd.Models;

@model Web.BackEnd.Models.Statistic.PaymentHistoryModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section TitleSection{
    Lịch sử nạp tiền
}

@if (TempData["Message"] != null)
{
    @Html.Raw(TempData["Message"])
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal tasi-form", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="clearfix">
                        <div class="btn-group">
                            @Html.TextBoxFor(x => x.Username, new { @class = "form-control", required = "", placeholder = "Tài khoản" })
                        </div>
                        <div class="btn-group">
                            <button type="submit" class="btn btn-info">Xác nhận</button>
                        </div>
                    </div>
                </header>
                <div class="panel-body">
                    <div class="chart-box" style="overflow:auto; width:100%">
                        @if (Model.DataList != null && Model.DataList.Tables.Count > 0)
                        {
                            <table class="table table-striped table-advance table-hover">
                                <thead>
                                    <tr>
                                        <th><i></i>UserId</th>
                                        <th><i></i>Username</th>
                                        <th><i></i>Số tiền</th>
                                        <th><i></i>KNB</th>
                                        <th><i></i>Ngày</th>
                                        <th><i></i>Chi tiết</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @for (int i = 0; i < Model.DataList.Tables[0].Rows.Count; i++)
                                    {
                                        System.Data.DataRow row = Model.DataList.Tables[0].Rows[i];

                                        <tr>
                                            <td width="100px">
                                                @row["UserID"]
                                            </td>
                                            <td width="100px">
                                                @row["Username"]
                                            </td>
                                            <td width="100px">
                                                @(DBNull.Value == row["Amount"] ? 0 : row["Amount"])
                                            </td>
                                            <td width="100px">
                                                @(DBNull.Value == row["Gold"] ? 0 : row["Gold"])
                                            </td>
                                            <td width="100px">
                                                @Convert.ToDateTime(row["Date"].ToString()).ToString("dd/MM/yyyy hh:mm:ss")
                                            </td>
                                            <td width="100px">
                                                @(DBNull.Value == row["Description"] ? 0 : row["Description"])
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </section>
        </div>
    </div>
}
