@model Web.FrontEnd.Models.PaymentModel
@using Web.FrontEnd.App_Code;

@{
    Layout = "~/Views/Shared/_Inside.cshtml";
}

@section BreadCrumbSection{
    <li class="active">
        <a href="/Payment">
            Nạp thẻ
        </a>
    </li>
}

@section ContentSection{

    <div class="detail_content">

        @if (Model != null)
        {
            using (Html.BeginForm(null, null, FormMethod.Post))
            {
                <table class="tbForm">
                    <tr>
                        <td colspan="2" align="center">
                            <span class="message" style="font-weight:bold; color:red;font-size:15px">
                                Tỉ lệ quy đổi : 1 Nguyên Bảo = 100 VNĐ
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            @if (Model.IsValid)
                            {
                                <span class="message" style="font-weight:bold;font-size:15px;color:white">@Html.Raw(Model.Message)</span>
                            }
                            else
                            {
                                <span class="message red" style="font-weight:bold">@Html.Raw(Model.Message)</span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="left">Chọn server</td>
                        <td>
                            @Html.DropDownListFor(x => x.SelectedServerId, Model.ServerList.ToList(), new { @class = "form-control m-bot15", required = "" })
                        </td>
                    </tr>
                    <tr>
                        <td class="left">Chọn thẻ</td>
                        <td>
                            @Html.DropDownListFor(x => x.SelectedCardType, Model.CardList.ToList(), new { @class = "form-control m-bot15", required = "" })
                        </td>
                    </tr>
                    <tr>
                        <td class="left">Serial</td>
                        <td>
                            @Html.TextBoxFor(x => x.Serial, new { @class = "form-control m-bot15", required = "" })
                        </td>
                    </tr>
                    <tr>
                        <td class="left">Pin</td>
                        <td>@Html.TextBoxFor(x => x.Pin, new { @class = "form-control m-bot15", required = "" })</td>
                    </tr>
                    <tr>
                        <td class="left"></td>
                        <td>
                            <img id="img-captcha-register" src='/Captcha/' />
                            <a class="btn-captcha-register" onclick="return ReloadCaptcha('img-captcha-register', '/Captcha/');">
                                <img src="/Content/images/website/change.png" alt="Thay hình khác" width="20px" />
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="left">Mã xác nhận</td>
                        <td>@Html.TextBoxFor(x => x.Captcha, new { @class = "form-control shot popup_register_captcha", required = "" })</td>
                    </tr>
                    <tr>
                        <td class="left"></td>
                        <td>
                            <input type="submit" value="Nạp thẻ" class="btn-accept" />
                        </td>
                    </tr>
                </table>
            }
        }
    </div>
}