@using System.Collections;
@using Web.BackEnd.Models;

@model SendNoticeModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section TitleSection{
    Gửi thông báo
}

@if (TempData["Message"] != null)
{
    @Html.Raw(TempData["Message"])
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal tasi-form" }))
{
    <div class="row">
        <div class="col-lg-12">

            <section class="panel">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Server</label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(x => x.SelectedServerId, Model.ServerList.ToList(), new { @class = "form-control m-bot15 ddlServer" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Nội dung</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.Notice, new { @class = "form-control", required = "" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Link (nếu có)</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.Link, new { @class = "form-control"})
                            <br />
                            Thêm %s vào nội dung tại vị trí muốn chèn link
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <img id="img-captcha" src='/Captcha' />
                            <a class="btn-captcha">
                                <img src="/Content/images/change.png" alt="Thay hình khác" />
                            </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Mã xác nhận</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.Captcha, new { @class = "form-control captcha", required = "" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button class="btn btn-danger" type="submit">Xác nhận</button>
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>
}
